body {
    background-color: tan;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    border: 2px solid black;
    font-size: 150%;
    width: 25%;
    height: 150px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(184, 8, 8);
}

button:active {
    background-color: black;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   height: 50%;
}

.responsiveResult {
    font-family: 'Comic Sans MS', cursive, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 200%;
}

.centering {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
